 body{
  background-color: #EFECE6;
  width: 100%;

  overflow-x: hidden;
    scrollbar-color: black #186385;
}
.desactivado{
    margin-top: 320px;
  font-size: 35px;



}
p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

h3{
  color:#121D25;
}

ul{
  text-align: center;
  z-index: 99;

  
}
div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}
.imagen1{
  margin-left: 10px;
}
.imagen0{
  box-shadow: 0 0 20px gray;
}
.imagen3{
  margin-left: -30px;
}
.imagen5{
  margin-left: -29px;
}
.imagen11{
  margin-left: -29px;
}
.imagen8{
  margin-left: -29px;
}
.logo{
width: 100%;

margin-top: 0px;
margin-bottom: 0px;
position: center;

}
.menuDigital{
  margin-top: -150px;
  letter-spacing: 3px;
}
.titulo{
  font-family: 'Rowdies', sans-serif;
  color: #1D3528;


}

.btn{
  text-decoration:none;
  color:black;
  border-color: black;
}


.btn:hover{
  text-decoration:none;
  color: white;
  border-color: #fff;
  background-color: #1A6286;
 
}
.menu{
  color: #000;
  margin-top: 30px;
}
.table {
  background: #EFECE6;
  position: sticky;
  margin-bottom: 9px;
  top:0; 
  font-family: 'Concert One', sans-serif;

}


.cuerpo{
width: 100%;
  background: transparent; 
  color:#121D25;
z-index: -1;
margin-top: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;



}

.cuerpo2{

  font-family: 'Quicksand', sans-serif;
  font-size: 13px;



}
@media (max-width:320px){

.cuerpo2{

  font-family: 'Quicksand', sans-serif;
  font-size: 10px;

}
.precio2{

  font-family: 'Quicksand', sans-serif;
  font-size: 12px;

}
.cuerpo3{

  font-size: 17px;

}

.precio{
  margin-left: -20px;
}
}
#scroll {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#909090;
    border-color: white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#FF3902;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.pie{
  background: #1A6286;
  border-top: solid 1px white;
  margin-bottom: 0px;
  font-size: 1.1rem;
  color:white;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Concert One', sans-serif;
}

.piepag {
  font-size: 1.5rem;
  text-align: center;
  z-index: -1;
  color:#121D25;
 font-family: 'Concert One', sans-serif;

}
.center{display:table;width:100%;background-color: #1A6286;
margin-top:-25px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:#fff;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid rgba(167,146,129,.4);cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}


.watermark {
  opacity: 0.25;
  position: fixed;
  align-items: center;
  justify-content: center;
/*  top: 60%; */
* left: 30%; */
  margin: 0 auto;
  height: 100vh;
  font-size: 500%;
  color: #00407d;
}